/*

# GIT
!.gitignore
!README.md

# NIX
!default.nix
!.envrc

# TOOLS
!Makefile
!CMakeLists.txt
!gcc-arm-none-eabi.cmake
!.clang-format

# EXAMPLE
!Core
!Drivers
!LWIP
!Middlewares
!CubeMX
!Project
!BGT60TRxx
!DSP
!prototype_firmware.ioc
!.mxproject
!cmake
!startup_stm32f767xx.s
!STM32F767xx_FLASH.ld
